PORT=8787
LICENSE_DOMAIN=license.example.com
DB_PATH=./data/licenses.sqlite
LICENSE_KEY_ID=prod-2026-01
LICENSE_PRIVATE_KEY_PATH=../.license-secrets/prod-2026-01-private.pem
LICENSE_KEY_PASSPHRASE_FILE=../.license-secrets/prod-2026-01-passphrase.txt
ACTIVATION_KEY_PEPPER=replace-with-at-least-32-random-characters
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=scrypt$replace-with-output-from-npm-run-hash-password
SECURE_COOKIES=false
TRUST_PROXY=0
